/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
key.properties
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
